<!DOCTYPE HTML>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
<link href="css/H-ui.min.css" rel="stylesheet" type="text/css" />
<link href="css/H-ui.admin.css" rel="stylesheet" type="text/css" />
<link href="lib/Hui-iconfont/1.0.7/iconfont.css" rel="stylesheet" type="text/css" />
<link href="css/style.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>数据同步统计</title>
</head>
<body ng-controller="dataStatisticsController">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 数据同步统计 </nav>

<div class="pd-20">
    <div class="search">
        <input type="text" ng-model="userId" placeholder="ID搜索" style="width:250px" class="input-text">
	    <button class="btn btn-success" ng-click="searchById()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    
    </div>  
    <br>
    <div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort my-table">
		    <caption class="my-caption">用户信息表</caption>
			<tbody>
				<tr class="text-c">
					<td class="name"><b>ID</b></td>
					<td class="value">{{user.id}}</td>
				</tr>
				<tr class="text-c">
					<td class="name"><b>CODE</b></td>
					<td class="value">{{user.code}}</td>
				</tr>
				<tr class="text-c">
					<td class="name"><b>年龄</b></td>
					<td class="value">{{user.age}}</td>
				</tr>
				<tr class="text-c">
					<td class="name"><b>身高(cm)</b></td>
					<td class="value">{{user.height}}</td>
				</tr>
				<tr class="text-c">
					<td class="name"><b>体重(kg)</b></td>
					<td class="value">{{user.weight}}</td>
				</tr>	
			</tbody> 
		</table>
		
	</div>
	<br>
	
	<br>
	<div class="text-c search"> 日期(天气记录)：
		<input type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" class="input-text Wdate" style="width:120px;" id="searchWeatherDate">
		
		<button name="" id="" class="btn btn-success" type="submit" ng-click="searchWeatherRecord()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
		    <caption class="my-caption">天气记录</caption>
			<thead>
				<tr class="text-c">
				    <th width="30">日期</th>
				    <th width="30">温度(℃)</th>
					<th width="30">湿度</th>
					<th width="30">CURPM</th>
					<th width="30">PM10</th>
					<th width="30">PM25</th>

				</tr>
			</thead>
			<tbody>
			    <tr class="text-c" ng-if="weather.time!=undefined && weather.pm25!=0">
			        <td>{{weather.time}}</td>
			        <td>{{weather.temperature}}</td>
			        <td>{{weather.humidity}}</td>
			        <td>{{weather.curpm}}</td>
			        <td>{{weather.pm10}}</td>
			        <td>{{weather.pm25}}</td>
			     
			    </tr>
				<tr>
				    <td colspan="6" ng-if="weather.time==undefined || weather.pm25==0">无数据</td>
				</tr>
				
			</tbody> 
		</table>
		
	</div><br>
	
	
	
	<div class="text-c search"> 日期(饮食记录)：
		<input type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" class="input-text Wdate" style="width:120px;" id="searchFoodDate">
		
		<button name="" id="" class="btn btn-success" type="submit" ng-click="searchFoodRecord()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
		    <caption class="my-caption">用户饮食记录</caption>
			<thead>
				<tr class="text-c">
					<th width="30">ID</th>
					<th width="30">用餐类型</th>
					<th width="120">用餐内容</th>

				</tr>
			</thead>
			<tbody>
			    <tr class="text-c" ng-repeat="foodRecord in foodRecords">
			        <td>{{foodRecord.userId}}</td>
			        <td>{{mealTypes[foodRecord.mealtype]}}</td>
			        <td>
			            <span ng-if="foodRecord.egg>0">蛋类</span>
			            <span ng-if="foodRecord.meatproduct>0">肉加工</span>
			            <span ng-if="foodRecord.stuffing>0">带馅类</span>
			            <span ng-if="foodRecord.milk>0">奶类</span>
			            <span ng-if="foodRecord.beanproduct>0">豆制品</span>
			            <span ng-if="foodRecord.snack>0">零食</span>
			            <span ng-if="foodRecord.seafood>0">海鲜</span>
			            <span ng-if="foodRecord.chinesesnack>0">中式小吃</span>
			            <span ng-if="foodRecord.nut>0">坚果</span>
			            <span ng-if="foodRecord.meat>0">肉</span>
			            <span ng-if="foodRecord.pickles>0">酱腌菜</span>
			            <span ng-if="foodRecord.fastfood>0">快餐</span>
			            <span ng-if="foodRecord.eatout>0">在外就餐</span>
			            <span ng-if="foodRecord.sweet>0">甜点</span>
			            <span ng-if="foodRecord.salt>0">盐{{foodRecord.salt/10}}勺</span>
			            <span ng-if="foodRecord.soysauce>0">酱油{{foodRecord.soysauce/10}}勺</span>
			            <span ng-if="foodRecord.sauce>0">酱料{{foodRecord.sauce/10}}勺</span>
			            <span ng-if="foodRecord.condiment>0">调味品{{foodRecord.condiment/10}}勺</span>
			            <span ng-if="foodRecord.mainfood>0">主食{{foodRecord.mainfood/10}}两</span>
			        </td>
			    </tr>
				<tr>
				    <td colspan="3" ng-if="foodRecords.length==0">无数据</td>
				</tr>
				
			</tbody> 
		</table>
		
	</div><br>
	
	
	<div class="text-c search"> 日期(用餐时间记录)：
		<input type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" class="input-text Wdate" style="width:120px;" id="searchEatDate">
		
		<button name="" id="" class="btn btn-success" type="submit" ng-click="searchEatTime()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
		    <caption class="my-caption">用户用餐时间记录</caption>
			<thead>
				<tr class="text-c">
					<th width="30">ID</th>
					<th width="30">用餐类型</th>
					<th width="120">时间</th>

				</tr>
			</thead>
			<tbody>
			    <tr class="text-c" ng-if="eatTimes.length>0">
			        <td>{{userId}}</td>
			        <td>早餐</td>
			        <td>
			             <span ng-repeat="item in eatTimes" ng-show="item.type==1">
			                 {{item.time}}
			             </span>
			        </td>
			    </tr>
			    <tr class="text-c"  ng-if="eatTimes.length>0">
			        <td>{{userId}}</td>
			        <td>午餐</td>
			        <td>
			             <span ng-repeat="item in eatTimes" ng-show="item.type==2">
			                 {{item.time}}
			             </span>
			        </td>
			    </tr>
			    <tr class="text-c"  ng-if="eatTimes.length>0">
			        <td>{{userId}}</td>
			        <td>晚餐</td>
			        <td>
			             <span ng-repeat="item in eatTimes" ng-show="item.type==3">
			                 {{item.time}}
			             </span>
			        </td>
			    </tr>
				<tr>
				    <td colspan="7" ng-if="eatTimes.length==0">无数据</td>
				</tr>
				
			</tbody> 
		</table>
		
	</div><br>
	
	
	
	<div class="text-c search"> 日期(饮品与吸烟记录)：
		<input type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" class="input-text Wdate" style="width:120px;" id="searchDrinkDate">
		
		<button name="" id="" class="btn btn-success" type="submit" ng-click="searchDrink()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
		    <caption class="my-caption">用户饮品与吸烟记录</caption>
			<thead>
				<tr class="text-c">
					<th width="30">ID</th>
					<th width="30">时间</th>
					<th width="30">茶（杯）</th>
					<th width="30">酒（杯）</th>
					<th width="30">水（杯）</th>
					<th width="30">吸烟（支）</th>
					<th width="30">二手烟（只）</th>

				</tr>
			</thead>
			<tbody>
			    <tr class="text-c" ng-repeat="item in drink">
			        <td>{{drink.userId}}</td>
			        <td>{{item.time}}</td>
			        <td>{{item.tea/10}}</td>
			        <td>{{item.wine/10}}</td>
			        <td>{{item.water/10}}</td>
			        <td>{{item.smoke/10}}</td>
			        <td>{{item.shsmoke/10}}</td>
			    </tr>
				<tr>
				    <td colspan="7" ng-if="drink.length==0">无数据</td>
				</tr>
				
			</tbody> 
		</table>
		
	</div><br>
	
	<div class="text-c search"> 日期(能量消耗记录)：
		<input type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" class="input-text Wdate" style="width:120px;" id="searchActivityDate">
		
		<button name="" id="" class="btn btn-success" type="submit" ng-click="searchActivity()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
		    <caption class="my-caption">能量消耗记录</caption>
			<thead>
				<tr class="text-c">
					<th width="30">ID</th>
					<th width="30">开始时间</th>
					<th width="30">结束时间</th>
					<th width="30">类型</th>
				</tr>
			</thead>
			<tbody>
			    <tr class="text-c" ng-repeat="item in activity">
			        <td>{{item.userId}}</td>
			        <td>{{item.ft}}</td>
			        <td>{{item.tt}}</td>
			        <td>{{item.type}}</td>
			    </tr>
				<tr>
				    <td colspan="4" ng-if="activity.length==0">无数据</td>
				</tr>
				
			</tbody> 
		</table>
		
	</div><br>
	
	<div class="text-c search"> 日期(用药记录)：
		<input type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" class="input-text Wdate" style="width:120px;" id="searchDrugDate">
		
		<button name="" id="" class="btn btn-success" type="submit" ng-click="searchDrug()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort">
		    <caption class="my-caption">用药记录记录</caption>
			<thead>
				<tr class="text-c">
					<th width="30">ID</th>
					<th width="30">药名</th>
					<th width="30">用药时间</th>
					<th width="30">填写时间</th>
					<th width="30">用药类型</th>
					<th width="30">用药计量</th>
				</tr>
			</thead>
			<tbody>
			    <tr class="text-c" ng-repeat="item in drugs">
			        <td>{{item.userId}}</td>
			        <td>{{item.drugname}}</td>
			        <td>{{item.time}}</td>
			        <td>{{item.fillingtime}}</td>
			        <td>{{item.drugtype}}</td>
			        <td>{{item.dose/10}} {{item.use}}</td>
			    </tr>
				<tr>
				    <td colspan="6" ng-if="drugs.length==0">无数据</td>
				</tr>
				
			</tbody> 
		</table>
		
	</div><br>
	
	
<!-- 	<div class="text-c search"> 日期范围：
		<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}'})" id="sportStartData" class="input-text Wdate" style="width:120px;" value="2016-07-25">
		-
		<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d'})" id="logmax" class="input-text Wdate" style="width:120px;" value="2016-07-31">
		<button name="" id="" class="btn btn-success" type="submit" onClick="testSport()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
	</div>
	<div id="sport" style="min-width:700px;height:400px"></div><br> -->
	
	
	<br><br>
	
	<div class="text-c search"> 日期(血压记录)：
		<input type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" class="input-text Wdate" style="width:120px;" id="searchBPDate">
		
		<button name="" id="" class="btn btn-success" type="submit" ng-click="searchBP()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button><br><br>
	</div><br><br>
	<div id="BP" style="min-width:700px;height:400px"></div>
	<br><br>
	
	<div class="text-c search"> 日期(情绪记录)：
		<input type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" class="input-text Wdate" style="width:120px;"  id="searchMontionDate">
		
		<button name="" id="" class="btn btn-success" type="submit" ng-click="searchMontion()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button><br><br>
	</div><br><br>
	<div id="montion" style="min-width:700px;height:400px"></div>
	
	<br><br>
	<div class="text-c search"> 日期(症状记录)：
		<input type="text" onfocus="WdatePicker({maxDate:'%y-%M-%d'})" class="input-text Wdate" style="width:120px;" id="searchSymptomDate">
		
		<button name="" id="" class="btn btn-success" type="submit" ng-click="searchSymptom()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button><br><br>
	</div><br><br>
	<div id="symptom" style="min-width:700px;height:650px"></div>
	
	<br><br>
	<div class="text-c search">日期(盐含量记录)：
		<input type="text" onfocus="WdatePicker({maxDate:'#F{$dp.$D(\'searchSaltEndDate\')||\'%y-%M-%d\'}'})" id="searchSaltStartDate" class="input-text Wdate" style="width:120px;" >
		-
		<input type="text" onfocus="WdatePicker({minDate:'#F{$dp.$D(\'searchSaltStartDate\')}',maxDate:'%y-%M-%d'})" id="searchSaltEndDate" class="input-text Wdate" style="width:120px;">
		<button name="" id="" class="btn btn-success" type="submit" ng-click="searchSalt()"><i class="Hui-iconfont">&#xe665;</i> 搜索</button><br><br>
	</div><br><br>
	<div id="salt" style="min-width:700px;height:400px"></div>
</div>

<script type="text/javascript" src="lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="lib/layer/2.1/layer.js"></script>
<script type="text/javascript" src="js/H-ui.js"></script> 
<script type="text/javascript" src="js/H-ui.admin.js"></script>
<script type="text/javascript" src="lib/My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="lib/Highcharts/4.1.7/js/highcharts.js"></script>
<script type="text/javascript" src="lib/Highcharts/4.1.7/js/modules/exporting.js"></script>

<script src="resource/js/lib/angular.min.js"></script>

<script src="resource/js/app.js"></script>

<script src="resource/js/APIRouters.js"></script>

<script src="resource/js/service/dataStatisticsService.js"></script>

<script src="resource/js/service/dataListService.js"></script>

<script src="resource/js/controller/dataStatisticsController.js"></script>

</body>
</html>